.card-img-overlay{
    background-color: #4aaaa5;
    height: 20%;
    margin-top: 30%;
}

body {
    background-image: url('/Bootstrap-Portfolio/assets/images/concrete_seamless.png');
    background-size: cover; /*to have the image cover the background*/
  }

section{
    background-image: url('/Bootstrap-Portfolio/assets/images/concrete_seamless.png');
    background-size: cover;
}

/*.container{
    background-color: white;
}*/

.about{
    background-color: white; 
}

.contactForm{
    background-color: white;  
}

h6{
    text-align: center;
  
}

@media(max-width:515px){
 .img1{ /*have to add img1 to the other class card-img-overlay*/
    margin-top: 10%;
 }
  
}